*{
    box-sizing: border-box;
}
body{
  margin: 0;  
    
}

.navbar{
    position: sticky;
    background-color: blue;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.navbar-logo{
    color:crimson;
}

.mainbox{
    position: relative;
    background-color: rgb(141, 134, 134);
    width: 100%;
    min-height: calc(100vh - 70px);
}

.sidepanel{
    flex: 0 0 auto;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    background-color:rgb(231, 76, 4);
}




